.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.name {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 6px;
  color: var(--white);
}